body {
	background-color: #F9F9F9
}
h4 {
	text-align: center;
	margin-bottom: 0;
}
.palette {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.colors {
	display: flex;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0.5%;
	background-color: #C6C7CA;
}
input {
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}
input:hover {
	background-color: lightgray;
}
.props {
	border: black 1px solid;
	border-radius: 10%;
	width: 25px;
	height: 25px;
	margin-right: 1%;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.orange {
	background-color: orange;
}
.blue {
	background-color: blue;
}
.purple {
	background-color: purple;	
}
.black {
	background-color: black;
}
.white {
	background-color: white;	
}
.gray {
	background-color: gray;
}
.brown {
	background-color: brown;
	border: black 1px solid;
	border-radius: 10%;
	width: 25px;
	height: 25px;
}
.gridArea {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 50%;
}
.pixels {
	border: 1px solid black;
	height: 20px;
	width: 20px;
}